.manga {

    padding: 20px;
    
    &__header {
        // background-color: blue;
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: flex-start;
        max-width: 75%;
        margin: 0 auto;
    }

    &__title {
        font-size: 2em;
        // background-color: grey;
        h1 {
            margin: 0 0 20px 0;
            padding: auto;
            line-height: 1;
        }
    }

    &__image {
        // background-color: green;
        // padding: 30px;
        max-width: 30%;
        height: auto;
        margin: 10px 50px 0 0;
    }

    &__details {
        display: flex;
        flex-direction: column;
        // background-color: purple;
        margin: 10px;
        align-items: flex-start;
        text-align: left;
    }

    &__description {
        text-align: justify;
        max-width: 100%;
        // padding: 10px;
        // margin: 10px;
    }
    // &__authors {
    //     padding: 10px;
    // }

    // &__author-list {
    //     list-style: none;
    //     padding: 0;
    // }

    // &__author {
    //     margin-bottom: 5px;
    // }

    &__info {
        padding: 10px;
    }

    // &__genre-list {
    //     list-style: none;
    //     padding: 0;
    // }

    // &__genre {
    //     margin-bottom: 5px;
    // }

    &__not-found {
        h1 {
            color: purple;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }
    }
}

.rating {
    background-color: aqua;
    display: flex;
    justify-content: center;

    &__form {
        display: flex;
        width: 80%;
        justify-content: center;
        background-color: orange;
    }

    &__user {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: purple;
        width: 50%;
    }

    &__stars {
        background-color: green;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        max-width: fit-content;
        max-height: fit-content;
        margin-bottom: 10px;
        padding: 0;
    }

    input {
        background-color: crimson;
    }

    &__button {
        display: flex;
        max-width: fit-content;
        background-color: red;
        margin-left: 10px;
    }

    &__stars input[type="radio"] {
        display: none;
    }

    &__stars label {
        font-size: 2em;
        color: #ddd;
        cursor: pointer;
        transition: color 0.2s;
    }
    
    &__stars input[type="radio"]:checked ~ label {
        color: #f5b301;
    }

    &__stars label:hover,
    &__stars label:hover ~ label {
        color: #f5b301;
    }
}
